<app-header></app-header>
<body>
  <div class="container">
    <div class="confirmation-container">
      <h1>Xác nhận đơn hàng</h1>
      <p>
        Cảm ơn quý khách đã đặt hàng! Dưới đây là thông tin chi tiết về các đơn
        hàng của bạn
      </p>
    </div>
    <div class="row">
      <table>
        <thead>
          <tr>
            <th scope="col" class="text-start">Sản phẩm</th>
            <th scope="col" class="text-start">Số lượng</th>
            <th scope="col" class="text-start">Đơn giá</th>
            <th scope="col" class="text-start">Tổng tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="product-info">
                <img
                  src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                  alt="Product Image"
                  class="product-image"
                />
                <span class="product-name">iphone 13</span>
              </div>
            </td>
            <td>2</td>
            <td>100,000 đ</td>
            <td>200,000 đ</td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>
              <div class="product-info">
                <img
                  src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                  alt="Product Image"
                  class="product-image"
                />
                <span class="product-name">iphone 13</span>
              </div>
            </td>
            <td>2</td>
            <td>100,000 đ</td>
            <td>200,000 đ</td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>
              <div class="product-info">
                <img
                  src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                  alt="Product Image"
                  class="product-image"
                />
                <span class="product-name">iphone 13</span>
              </div>
            </td>
            <td>2</td>
            <td>100,000 đ</td>
            <td>200,000 đ</td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>
              <div class="product-info">
                <img
                  src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                  alt="Product Image"
                  class="product-image"
                />
                <span class="product-name">iphone 13</span>
              </div>
            </td>
            <td>2</td>
            <td>100,000 đ</td>
            <td>200,000 đ</td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>
              <div class="product-info">
                <img
                  src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                  alt="Product Image"
                  class="product-image"
                />
                <span class="product-name">iphone 13</span>
              </div>
            </td>
            <td>2</td>
            <td>100,000 đ</td>
            <td>200,000 đ</td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>
              <div class="product-info">
                <img
                  src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                  alt="Product Image"
                  class="product-image"
                />
                <span class="product-name">iphone 13</span>
              </div>
            </td>
            <td>2</td>
            <td>100,000 đ</td>
            <td>200,000 đ</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center mt-3">
        <button class="btn btn-gradient" type="button">Tiếp tục mua sắm</button>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
