.container {
    background: linear-gradient(rgb(240, 165, 2), rgb(36, 36, 73));
  }
  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .intro-section {
    padding: 10px;
    text-align: left;
    color: white;
  }
  .product-category {
    width: 200px;
    margin-bottom: 10px;
  }
  .search-input {
    width: 300px;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    border-color: beige;
    color: white;
    margin-bottom: 10px;
  }
  .form-control {
    background-color: transparent;
    color: rgb(0, 28, 23);
  }
  .form-control::placeholder {
    color: rgba(241, 22, 182, 0.5);
    opacity: 1;
  }
  .form-control::ms-input-placeholder {
    color: rgba(241, 22, 182, 0.5);
    opacity: 1;
  }
  .product-item {
    background-color: rgb(19, 23, 42);
    border: 1px solid rgb(35, 39, 61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
  }